@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
}

td {
  border: 1px solid;
}

[data-slate-editor] {
  padding: 84px 50px 50px;
  position: relative;
}

.slate-HeadingToolbar {
  padding: 17px 60px !important;
  position: fixed !important;
  background: white !important;
  z-index: 1000;
  width: 100%;
}

.tippy-box[data-theme~="tomato"] {
  background-color: tomato;
  color: yellow;
}

.slate-selection-area {
  background: #008080;
  border: 1px solid #4f90f2;
}

.drag-button {
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: none;
  cursor: pointer;
  outline: 0;

  min-width: 18px;
  min-height: 18px;
}

.MuiSvgIcon-root {
  font-size: 18px !important;
}

/* .slate-code_block {
  background-color: #111827 !important;
}

.slate-code_block code {
  color: white;
} */

/* Editor styles */
#rich-editor-tealfeed {
  font-size: 18px !important;
  line-height: 32px !important;
  color: var(--article-body) !important;
  margin-bottom: 26px !important;
}

#rich-editor-tealfeed p {
  line-height: 32px;
  margin-bottom: 26px;
  position: relative;
}

#rich-editor-tealfeed ol {
  list-style-type: decimal;
}

#rich-editor-tealfeed ul {
  list-style-type: disc;
}

#rich-editor-tealfeed h1 {
  margin: 32px 0 16px 0;
  color: var(--text-primary) !important;
  font-size: 2rem !important;
  line-height: 2.5rem !important;
}

#rich-editor-tealfeed h2,
#rich-editor-tealfeed h3 {
  color: var(--text-primary) !important;
  font-size: 1.5rem !important;
  margin-top: 1.5rem !important;
  line-height: 2rem !important;
}

#rich-editor-tealfeed caption {
  font-size: 14px;
}

#rich-editor-tealfeed code,
#rich-editor-tealfeed code div span {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 18px !important;
  line-height: 32px !important;
}

#rich-editor-tealfeed blockquote {
  border-left: 5px solid var(--brandColor) !important;
  background-color: var(--notification-active) !important;
  padding: 20px !important;
  margin: 24px 0 26px 0 !important;
  color: var(--text-primary);
}

#rich-editor-tealfeed .ant-popover-content {
  background: var(--background-card) !important;
}

#rich-editor-tealfeed a {
  color: var(--brandColor);
}

#rich-editor-tealfeed a:hover {
  color: var(--brandColor);
  text-decoration: underline;
}

#rich-editor-tealfeed .ant-popover-inner-content {
  overflow: scroll !important;
}

/* Editor button styles */

.upload-btn-custom {
  display: flex;
  align-items: center;
}

/* Header styles */
.slate-ToolbarButton-active {
  background-color: var(--focused-background);
  border-radius: 5px;
}

/* code-line styles */
[data-node-type='code_line'] {
  font-size: 18px !important;
  color: var(--article-body) !important;
}

.inline-code {
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace !important;
  color: var(--article-body) !important;
  background: var(--code-block) !important;
  padding: 5px 3px;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 32px !important;
}

#rich-editor-tealfeed .slate-code *,
#rich-editor-tealfeed .slate-code {
  font-family: 'Roboto Mono', monospace !important;
  background: var(--code-block) !important;
  padding: 5px 3px;
}

/* image styles */
.tealfeed-blog-image {
  margin: auto !important;
}

.editor-screen {
  padding-top: 3.5rem;
}

[data-slate-spacer='true'] {
  display: none !important;
}

pre[data-slate-node='element'] {
  background: var(--code-block);
  padding: 20px !important;
  margin: 24px 0 26px 0 !important;
  color: var(--text-primary);
  overflow-x: auto;
  white-space: pre;
}

pre[data-slate-node='element'] * {
  font-family: 'Roboto Mono', monospace !important;
  margin: 0 !important;
  padding: 0 !important;
}

pre[data-slate-node='element'] select {
  display: none;
}

strong.slate-bold {
  color: var(--text-primary) !important;
}

.font-bold {
  color: var(--text-primary) !important;
}

.horizontal-rule-element {
  border-top: 1px solid var(--article-body);
  margin-top: 26px;
  margin-bottom: 26px;
}

figure {
  background: var(--background-secondary) !important;
}

figure img {
  background: var(--background-secondary) !important;
}

figure figcaption {
  color: var(--text-secondary) !important;
  font-size: 12px !important;
}

.drop-down-class {
  background: var(--background-card);
  color: var(--article-body);
  width: 50px !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: var(--hover-background);
}

.ant-select-auto-complete .ant-avatar {
  width: 1.7em !important;
  height: 1.7em !important;
}

figure figcaption a {
  color: var(--brandColor) !important;
}

.shortcut-btn:hover {
  background: var(--focused-background);
  transition: all 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}

.shortcut-btn-active {
  background: var(--focused-background);
  border-radius: 5px;
}

.content figure.md-block-image img {
  border: none !important;
}

.drop-down-class {
  background: var(--background-card);
  color: var(--article-body);
  width: 50px !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: var(--hover-background);
}

.ant-select-auto-complete .ant-avatar,
.ant-select-auto-complete:hover .ant-avatar,
.ant-select-auto-complete:hover .ant-input-prefix,
.ant-select-auto-complete .ant-input-prefix {
  width: 2em !important;
  height: 1.7em !important;
}

.ant-select-item,
.ant-select-item-option,
.ant-select-dropdown {
  color: var(--article-body) !important;
  background-color: var(--background-secondary) !important;
}

.ant-select-item:hover,
.ant-select-item-option:hover {
  color: var(--article-body) !important;
  background-color: var(--hover-background) !important;
}

.ant-select-multiple .ant-select-selection-item {
  color: var(--article-body) !important;
  background-color: var(--focused-background);
  border: none !important;
}

.ant-select-auto-complete:hover .ant-input-suffix,
.ant-select-auto-complete .ant-input-suffix {
  width: 2em !important;
  height: 2em !important;
}

.ant-select-auto-complete .ant-input {
  color: var(--article-body);
}

.ant-select-auto-complete:hover .ant-input-suffix *,
.ant-select-auto-complete .ant-input-suffix * {
  width: 1em !important;
  height: 1em !important;
  color: white !important;
}

.ant-picker,
.text-textColor-skin-primary > .ant-picker-input > input {
  color: var(--text-primary) !important;
}

.message-data-box {
  max-width: 30rem;
  white-space: pre-wrap;
}

.basis-full {
  min-width: 3rem !important;
}

.message-box {
  max-width: 70%;
  word-wrap: break-word;
}

@media only screen and (max-width: 640px) {
  .message-data-box {
    max-width: 75%;
  }

  .message-box {
    max-width: 100%;
  }
}
.ant-input-textarea-show-count::after {
  color: var(--text-light) !important;
}

.chat-window-pc {
  height: calc(100vh - 50px);
}

/* .absolute .top-14 .z-50 {
	height: 100%;;
} */

/* Below styles are for the scroll bar */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Works on Firefox */
.chat-sidebar-wrapper,
.chat-infiniteScroll,
#sidebar-wrapper,
#list-wrapper {
  scrollbar-width: thin;
  scrollbar-color: var(--border-secondary) transparent;
}

/* Works on Chrome, Edge, and Safari */
.chat-sidebar-wrapper::-webkit-scrollbar,
.chat-infiniteScroll::-webkit-scrollbar,
#sidebar-wrapper::-webkit-scrollbar,
#list-wrapper::-webkit-scrollbar {
  width: 5px;
}

.chat-sidebar-wrapper::-webkit-scrollbar-track,
.chat-infiniteScroll::-webkit-scrollbar-track,
#sidebar-wrapper::-webkit-scrollbar-track,
#list-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.chat-sidebar-wrapper::-webkit-scrollbar-thumb,
.chat-infiniteScroll::-webkit-scrollbar-thumb,
#sidebar-wrapper::-webkit-scrollbar-thumb,
#list-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--border-secondary);
  border-radius: 20px;
}

@layer base {
  html {
    font-family: roboto, system-ui, sans-serif;
  }
  .dark {
    --code-block: #404040;
    --text-primary: #eeeeee;
    --text-secondary: #bbbbbb;
    --text-light: #888888;
    --background-primary: #181818;
    --background-secondary: #212121;
    --background-card: #212121;
    --background-light: #404040;
    --background-error: #ff00001a;
    --background-warn: #fc9f001a;
    --background-info: #0085ff1a;
    --brandColor: #1ea4a4;
    --brandColor-light: #e1f1f1;
    --border-primary: #404040;
    --border-secondary: #888888;
    --text-error: #f5222d;
    --text-warning: #faad14;
    --text-success: #1ea4a4;
    --text-info: #0085ff;
    --button-primary-fill: #1ea4a4;
    --button-secondary-fill: #888888;
    --button-primary-ghost-border: #1ea4a4;
    --button-secondary-ghost-border: #888888;
    --hover-background: #3a3a3a;
    --focused-background: #4c4c4c;
    --notification-active: #224141;
    --article-body: #cccccc;
  }
  .light {
    --code-block: #ededed;
    --text-primary: #3a3a3a;
    --text-secondary: #686868;
    --text-light: #9f9f9f;
    --background-primary: #fafafa;
    --background-secondary: #ffffff;
    --background-card: #ffffff;
    --background-light: #ffffff;
    --background-error: #ff00001a;
    --background-warn: #fc9f001a;
    --background-info: #0085ff1a;
    --brandColor: #008080;
    --brandColor-light: #e1f1f1;
    --border-primary: #e5e5e5;
    --border-secondary: #bfbfbf;
    --text-error: #f5222d;
    --text-warning: #faad14;
    --text-success: #008080;
    --text-info: #0085ff;
    --button-primary-fill: #008080;
    --button-secondary-fill: #686868;
    --button-primary-ghost-border: #008080;
    --button-secondary-ghost-border: #686868;
    --hover-background: #f3f4f6;
    --focused-background: #e5e7eb;
    --notification-active: #f0f8f8;
    --article-body: #3a3a3a;
  }
}